/public/wp
/vendor
production-config.php
local-config.php
/public/wp-content/plugins
/public/wp-content/uploads
.sass-cache

// ignore content of themes dir
!/public/wp-content/themes
public/wp-content/themes/*

!/public/wp-content/themes/activello-child

.DS_Store
bol.sublime-project
bol.sublime-workspace
